CNN_DEEP_AUG/
Deeper_ANN/
Dropout_CNN/
output/
RESNET101/
test/
train/
Xception/
XceptionD/
XceptionD_deep/
XceptionD_deep_sgd/
Untitled.ipynb
project4_image_classification_v0.ipynb
best_ann_model.h5
aug_cnn_deep.h5
*.ipynb_checkpoints
*.pytest_cache
*.pyc
*__pycache__
